@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sansita+Swashed:wght@300;600&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
.font-sanista {
    font-family: 'Sansita Swashed', cursive;
}
.rounded-lg {
    border-radius: 0.75rem !important;
}
.rounded-xl {
    border-radius: 2rem !important;
}
